body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

button{
padding:10px 20px;
margin:10px;
border:none;
background:#22c55e;
color:white;
border-radius:8px;
}

input{
display:block;
margin:10px auto;
padding:10px;
width:200px;
}

.plan{
border:1px solid white;
margin:20px;
padding:20px;
}
